/* Colors */
.light-blue-background {
    background: #67bcff;
}
.light-green-background {
    background: #83db87;
}
.light-yellow-background {
    background: #f1e57d;
}
.light-gray-background {
    background: lightgray;
}
.red {
    color: #ff671b;
}
.dark-blue-background {
    background: #2b3c4a;
}
.dark-blue {
    color: #2b3c4a;
}
.white-background {
    background: white;
}
.white {
    color: white;
}

/* Spending breakdown graph ("progress" bar) */
.progress {
    height: 2rem;
}