/* Colors */
.light-blue {
    background: #67bcff;
}
.light-green {
    background: #83db87;
}
.light-yellow {
    background: #f1e57d;
}
.light-gray {
    background: lightgray;
}
.red {
    color: #ff671b;
}