/* Colors */
.light-blue {
    background: #67bcff;
}
.light-green {
    background: #83db87;
}
.light-yellow {
    background: #f1e57d;
}
.light-gray {
    background: lightgray;
}
.red {
    color: #ff671b;
}
.dark-blue-background {
    background: #2b3c4a;
}
.dark-blue {
    color: #2b3c4a;
}
.background-white {
    background: white;
}
.white {
    color: white;
}